.cabecalho {
width: 680px;
height: 206;
background-color: 856AF7;

}
.primeira_secao{
 width: 244px;
height: 197px;
background-color: rgb(101, 174, 174);

}
}
.retangulo{
 width: 244px;
height: 197px;
background-color: rgb(101, 174, 174);

}