.cabecalho {
    width: 680px;
    height: 206;
    background-color: 856AF7;

}

.primeira_secao {
    width: 700px;
    height: 216px;
    background-color: rgb(101, 174, 174);
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.esfera {
    width: 254px;
    height: 237px;
    background-color: 605AC8;

}
.quadrado_amarelo{
    width: 281px;
    height: 216px;
    background-color: #CBBC39;

}
.quadrado_cinza
{
    width: 281px;
    height: 216px;
    background-color: #CBBC39;

}
.quadrado_amarelo{
    width: 281px;
    height: 216px;
    background-color: #CBBC39;

}