.cabecalho {
    width: 700px;
    height: 216px;
    position: 0, 0;
    background-color: #41D19F;

}

.bloco{
width: 680px;
height: 206px;
position: 5px, -3px;
background-color: #856AF7;
}

.texto{
width: 185;
height: 58;
position: 252, 17;
background-color: #0E0E0E;

}




.primeira_secao {
    width: 700px;
    height: 836px;
    position: 0, 4;
    background-color: #EBDCAB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.quadrado_amarelo{
    width: 281px;
    height: 216px;
    position: 5, 223;
    background-color: #CBBC39;

}
.quadrado_cinza
{
    width: 310px;
    height: 201px;
    position: 339, 223;
    background-color: #CACACA;

}
.quadrado_vermelho{
    width: 253px;
    height: 245px;
    position: 19, 486;
    background-color: #DE4926;

}

.esfera_roxo{
  width: 254px;
  height: 237px;
  position: 387, 475;
  background-color: #605AC8;
}

.imagem1{
width: 244px;
height: 197px;
position: 28, 227;
}

.imagem2{
width: 244px;
height: 197px;
position: 372, 225;
}

.imagem3{
width: 213px;
height: 232px;
position: 39, 489;
}

.imagem4{
width: 226px;
height: 220px;
position: 404, 483;
}

.imagem01{
width: 225px;
height: 198px;
position: 5, 4;
}

.imagem02{
width: 231px;
height: 191px;
position: 454, 7;
}